<div class="sidebard-panel">
    <div>
        <div id="contact-1" class="tab-pane active">
            <div>
                <div class="nav-header">
                    <div class="profile-element" style="margin-top:20px;margin-left:20px">
                        <img alt="image" class="img-circle" src="/img/doubleSpringUser.jpg" style="width:125px"/>

                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold"><h4 style="font-size:24px">Jordan jackson</h4></strong>
                             </span>
                                <span class="text-muted text-xs block">Beta tester | ultimate user </span>
                            </span>
                    </div>
                </div>
                <hr/>
            </div>

            <div class="client-detail">
                <div style="margin-top:-32px">
                    <p>Email</p>
                    <strong>jordan.jackson@dashboard.com</strong>
                    <p>Mobile</p>
                    <strong>
                        +44 (0) 7887 665 588
                    </strong>
                    <p>SkillLevel</p>
                    <strong>Senior (50K+)</strong>
                    <p>Paid Out limit</p>
                    <uib-progressbar value="75" style="width: 58%;"></uib-progressbar>
                    <p>Bio</p>
                    <p>
                       Jordan graduated from Comell University in 2004 with a Bachelor degree
                        in Computer Science and a Speculation in mathematics.While there ,
                        he published two artices on code project
                    </p>
                    <p>Skills</p>
                    <span class="label label-primary pull-right" style="margin-right: 6px">Ios</span>
                    <span class="label label-primary pull-right" style="margin-right:1px">Traveller</span>
                    <span class="label label-primary pull-right" style="margin-right:1px">Teacher</span>
                    <span class="label label-primary pull-right">Photography</span>
                </div>
            </div>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="text-align:center">
            <p class="no-margins">Upcoming Events with Jordan</p>
        </div>
        <div class="ibox-content">
            <strong>Super photography 2016</strong>
            <span class="label label-primary pull-right">photography</span>
        </div>
    </div>
</div>
<div class="wrapper sidebar-content wrapper-content">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <h5 class="m-b-xs">Earning History</h5>
                    <span class="label label-primary pull-right" style="margin-right: 10px">Weekly</span>
                    <span class="label label-primary pull-right" style="margin-right: 5px">Monthly</span>
                    <span class="label label-primary pull-right" style="margin-right:3px">Yearly</span>
                </div>
                <div>
                    <img src="/img/chartImage.png"  alt ="chart" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h1 class="no-margins">3,594</h1>
                <small style="color:blue"><strong>NEW ORDERS</strong></small>
            </div>
            <div class="ibox-content">
                <div class="font-bold text-navy" style="text-align: center"> <i class="fa fa-level-up"></i> 13% INCREASE </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h1 class="no-margins">105,990</h1>
                <small style="color:green"><strong>TOTAL SALES</strong></small>
            </div>
            <div class="ibox-content">
                <div class="font-bold text-navy" style="text-align: center"><i class="fa fa-level-up"></i>  4% INCREASE </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h1 class="no-margins"> $ 50,890</h1>
                <small style="color:green"><strong>TOTAL PAID OUT</strong></small>
            </div>
            <div class="ibox-content">
                <div class="font-bold text-danger" style="text-align: center"><i class="fa fa-level-down"></i>  21% DECREASE </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title" style="text-align:center">
                <h1 class="no-margins">453 </h1>
                <small style="color:green"><strong>NEW CUSTOMERS</strong></small>
            </div>
            <div class="ibox-content">
                <div class="font-bold text-danger" style="text-align: center"><i class="fa fa-level-down"></i>  5% DECREASE </div>
            </div>
        </div>
    </div>
</div>

    <!-- table -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th></th>
                                <th>Referrer</th>
                                <th>Views</th>
                                <th></th>
                                <th>Sales</th>
                                <th>Conversion </th>
                                <th></th>
                                <th>total </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td></td>
                                <td>note.com</td>
                                <td>54</td>
                                <td></td>
                                <td>12</td>
                                <td>10.5%</td>
                                <td></td>
                                <td>$50</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Direct,email,IM</td>
                                <td>96</td>
                                <td></td>
                                <td>24</td>
                                <td>25%</td>
                                <td></td>
                                <td>$10</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Recommended</td>
                                <td>5</td>
                                <td></td>
                                <td>5</td>
                                <td>100%</td>
                                <td></td>
                                <td>$10</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>Dribble</td>
                                <td>1</td>
                                <td></td>
                                <td>0</td>
                                <td>0.0%</td>
                                <td></td>
                                <td>$0</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>google.co.uk</td>
                                <td>5</td>
                                <td></td>
                                <td>0</td>
                                <td>0.0%</td>
                                <td></td>
                                <td>$0</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>google.com.tr</td>
                                <td>0</td>
                                <td></td>
                                <td>0</td>
                                <td>0.0%</td>
                                <td></td>
                                <td>$0</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td>mail.google.com</td>
                                <td>1</td>
                                <td></td>
                                <td>0</td>
                                <td>0.0%</td>
                                <td></td>
                                <td>$0</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>facebook.com</td>
                                <td>5</td>
                                <td></td>
                                <td>0</td>
                                <td>0.0%</td>
                                <td></td>
                                <td>$0</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
