<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('dashboards')}">
                    <li ui-sref-active="active"><a ui-sref="dashboards.dashboard_3">Menu</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Profit</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Explore</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Profile</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Photos</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Videos</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">invite</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Music</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Candidates</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Calender</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Feedback</a></li>
                    <li ui-sref-active="active"><a ui-sref="#">Help</a></li>


                </ul>
            </li>
        </ul>

    </div>
</nav>