<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
                <div class="form-group">
                    <label class="control-label">
                        <h2 style="margin-left:24px"><strong>Your profit</strong></h2>
                    </label>
                </div>

        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ui-sref="#">
                    <i class="fa fa-sign-out"><strong>Jordan j </strong></i>
                </a>
            </li>

        </ul>

    </nav>
</div>